{% extends 'templates/base.html' %}
{% block header %}
<div class="header">
    <nav class="header__container">
        <div class="header__logo"><a class="logo-link" href="{% static 'images_new/logo-nav.svg' %}"></a></div>
        <button
                class="hamburger hamburger--squeeze hidden-desktop" type="button">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>

        <div class="header__list-mobile hidden-desktop">
            <ul>
                <li class="login-button"><a href="#" class="diff-link">Login</a></li>
                <li class="language-switcher">
                    <ul class="language-switcher__mobile">
                    </ul>
                </li>
            </ul>
        </div>
        <div class="header__list">
            <ul>
                <li class="login-button"><a href="#" class="diff-link">Login</a></li>
                <li class="language-switcher">
                    <ul class="language-switcher__desktop">
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>
{% endblock %}