# exclude Helm
Helm
.git*
.editorconfig
.pylintrc
Dockerfile
*.md
docker-compose.yml
requirements.txt
sonar-project.properties
statuspage.code-workspace
__pycache__
*.pyc
*.pyo
*.pyd
.Python
.venv
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.mypy_cache
.pytest_cache
.hypothesis
venv
.venv
