{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block login %}
<div class="form">
    <div class="form__container">
        <div class="form__text-container">
            <div class="caption-title-paragraph__title GilroySemiBold">{% trans 'ChangePasswordHeading' %}</div>
        </div>
        <br>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <a href="{% url 'dashboard:main' %}"><strong>{% trans 'SkipPassword' %}</strong></a><br><br>
            <div class="form__ctas">
                <button type="submit" class="cta-btn"><span class="cta-btn-inner">
                        {% trans 'ChangePassword' %}
                </span></button>
            </div>
        </form>
    </div>
</div>
{% endblock %}