{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block login %}
<div class="form">
    <div class="form__container">
        <div class="form__text-container">
            <div class="caption-title-paragraph__title GilroySemiBold">{% trans 'LoginHeading' %}</div>
        </div>
        <br>
        <form method="post">
            {% csrf_token %}
            <p>
                <label for="id_username">Customer Number:</label>
                <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username"
                    maxlength="150" required="" id="id_username" data-com.bitwarden.browser.user-edited="yes" class="">
            </p>
            <p>
                <label for="id_password">Password:</label>
                <input type="password" name="password" autocomplete="current-password" required="" id="id_password"
                    data-com.bitwarden.browser.user-edited="yes" class="">
            </p>
            <span class="text-muted"></span>
            <input name="action" value="send_data" type="hidden">
            <span class="text-muted"></span>
            <input name="action" value="send_data" type="hidden">
            <div class="form__ctas">
                <button type="submit" class="cta-btn"><span class="cta-btn-inner">
                        {% trans 'LoginButton' %}
                    </span></button>
            </div>
        </form>
    </div>
</div>
{% endblock %}