{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block logo %}
<div class="header__logo"><a class="logo-link" href=""><img
            alt="AD IT Systems" src="{% static 'images/logo-nav.9aa4c274.svg' %}"></a></div>
{% endblock logo %}
{% block header %}
{% endblock header %}
{% block payment %}
<div class="form">
    <div class="form__container">
        <div class="caption-title-paragraph__title GilroySemiBold">{% trans 'PaymentOptionsHeading' %}</div>
        <br>
        <form action="#" method="post" id="">
            {% csrf_token %}

            <label for="id_customer_number">{% trans 'CustomerNumber' %}:</label>
            <input type="text" name="customer_number" value="{{customer_number}}" maxlength="100" id="id_customer_number" readonly>
            <label>{% trans 'payment_options' %}:</label>
            {{form.payment_options}}
            <div id="details">
                <label for="id_owner">{% trans 'owner' %}:</label>
                {{form.owner}}
                <label for="id_iban">{% trans 'iban' %}:</label>
                {{form.iban}}
                <label for="id_bic">{% trans 'bic' %}:</label>
                {{form.bic}}
            </div>
            <div data-aos="fade" class="title-text__text-left aos-init aos-animate" id="mandate">
                <div class="title-text__container">
                    <div class="title-text__text" style="margin-top: 0%;">{% trans 'DirectDebitAuthorization' %}</div>
                    <div class="title-text__body-left" style="font-weight: 500;">
                      {% trans 'DirectDebitConfirmationText' as confirm_text %}
                      <p>{{ confirm_text|linebreaksbr }}</p>
                    </div>
                </div>
            </div>
            <br>
            <div id="confirm">
                <label for="id_confirm">{% trans 'Accept' %}</label>
                {{form.confirm}}
            </div>
            <br>
            <br>
            <span class="text-muted"></span>
            <input name="action" value="send_data" type="hidden">
            <div class="cta">
                <button type="submit" class="cta-btn">
                  <span class="cta-btn-inner">
                    {% trans 'SendData' %}
                  </span>
                </button>
            </div>
        </form>

    </div>
</div>
{% endblock %}
