{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block logo %}
<div class="header__logo"><a class="logo-link" href=""><img alt="AD IT Systems"
      src="{% static 'images/logo-nav.9aa4c274.svg' %}"></a></div>
{% endblock logo %}

{% block header %}
<ul style="display: flex; justify-content: right; padding-right: 50px;">
  <li>
    <a href="https://kunden.aditsystems.de/kc/" title="DevOps Service">{% trans 'CustomerCenter' %}</a>
  </li>
</ul>
{% endblock header %}

{% block payment %}
<div class="form">
  <div class="caption-title-paragraph__title GilroySemiBold">{% trans 'ConsumerTermination' %}</div>
  <br><br>
  <div class="caption-title-paragraph__desc GilroyMedium">{% trans 'ConsumerDocumentHeading' %}</div>
  <br><br>
  <form method="post" class="my-class">
    {% csrf_token %}
    <div id="div_id_name" class="control-group"> <label for="id_name" class="control-label requiredField">
        {% trans 'CancelName' %}<span class="asteriskField">*</span> </label>
      <div class="controls"> {{form.name}} </div>
    </div>

    <div id="div_id_customer_number" class="control-group"> <label for="id_customer_number" class="control-label requiredField">
      {% trans 'CancelNumber' %}<span class="asteriskField">*</span> <span><div class="caption-title-paragraph__eyelet GilroyMedium" style="text-transform: none;">{% trans 'CustomerNoDetail' %}</div></span> </label>
      <div class="controls"> {{form.customer_number}} </div>
    </div>

    <div id="div_id_phone_number" class="control-group"> <label for="id_phone_number" class="control-label requiredField">
      {% trans 'CancelPhoneNumber' %}<span class="asteriskField">*</span></label>
      <div class="controls">{{form.phone_number}} </div>
    </div>

    <div id="div_id_contract_number" class="control-group"> <label for="id_contract_number"
        class="control-label requiredField">
        {% trans 'CancelContract' %}<span class="asteriskField">*</span> <span><div class="caption-title-paragraph__eyelet GilroyMedium" style="text-transform: none;">{% trans 'ContractDetails' %}</div></span> </label>
      <div class="controls">{{form.contract_number}} </div>
    </div>

    <div id="div_id_email" class="control-group"> <label for="id_email" class="control-label requiredField">
      {% trans 'CancelEmail' %}<span class="asteriskField">*</span> <span><div class="caption-title-paragraph__eyelet GilroyMedium" style="text-transform: none;">{% trans 'EmailCustomerData' %}</div></span> </label>
      <div class="controls">{{form.email}}</div>
    </div>

    <br>
    <div class="caption-title-paragraph__eyelet GilroyMedium">{% trans 'PleaseConfirm' %}..<span class="asteriskField">*</span> </div>
    <div id="div_id_confirm_tariff" class="control-group">
      <div class="controls"> <a for="id_confirm_tariff" class="checkbox ">{{form.confirm_tariff}}
            <label for="id_confirm_tariff" class="control-label requiredField" style="text-transform: none; font-weight: normal;">{% trans 'CancelTariff' %}</label>
        </a> </div>
    </div>
    <br>
    
    <div id="div_id_confirm_consumer" class="control-group">
      <div class="controls"> <a for="id_confirm_consumer" class="checkbox "> {{form.confirm_consumer}}
        <label for="id_confirm_consumer" class="control-label requiredField" style="text-transform: none; font-weight: normal;">{% trans 'CancelConsumer' %}</label>
        </a> </div>
    </div>
    <br><br>

    <div id="div_id_domain_options" class="control-group"> <a for="id_domain_options"
        class="control-label requiredField">
        {% trans 'CancelOptions' %}<span class="asteriskField">*</span><span><div class="caption-title-paragraph__eyelet GilroyMedium" style="text-transform: none;">{% trans 'DomainComment' %}</div></span> </a> 
      <div class="controls"> 
        {{form.domain_options}}
      </div>
    </div>

    {{ domain_formset.management_form }}
    <div id="div_id_myTableData" data-aos="fade" class="aos-init aos-animate">
        <table aria-describedby="Custom" class="link-formset" style="width: 50%;">
            <tr>
              <th scope="col">{% trans 'Domain' %}</th>
              <th scope="col">{% trans 'Handling' %}</th>
            </tr>
            <tr>
              {% for domain_form in domain_formset %}
                    <td>{{ domain_form.domain_name }}</td>
                    <td>{{ domain_form.domain_handling }}</td>
            {% endfor %}
          </tr>
        </table><br>
    </div>

    <br>
    <div class="caption-title-paragraph__eyelet GilroyMedium">{% trans 'AdditionalNotice' %}</div>
    {{form.additional_data}}
    
    <div class="caption-title-paragraph__eyelet GilroyMedium">{% trans 'PleaseConfirm' %}..<span class="asteriskField">*</span></div>
    <div id="div_id_confirm_data" class="control-group">
      <div class="controls"> <a for="id_confirm_data" class="checkbox ">{{form.confirm_data}}
        <label for="id_confirm_data" class="control-label requiredField" style="text-transform: none; font-weight: normal;">{% trans 'CancelData' %}</label>
        </a></div>
    </div>

    <br>
    
    <div id="div_id_confirm_data_deletion" class="control-group">
      <div class="controls"> <a for="id_confirm_data_deletion" class="checkbox ">{{form.confirm_data_deletion}}
        <label for="id_confirm_data_deletion" class="control-label requiredField" style="text-transform: none; font-weight: normal;">{% trans 'CancelDeletion' %}</label>
      </a></div>
    </div>

    <input type="checkbox" name="field_garb" style="display:none !important;" tabindex="-1" autocomplete="off" id="id_field_garb" class="checkboxinput">

    <br>
    <br>
    <span class="text-muted"></span>
    <input name="action" value="send_data" type="hidden">
    <div class="cta">
      <button type="submit" class="cta-btn">
        <span class="cta-btn-inner">
          {% trans 'SendData' %}
        </span>
      </button>
    </div>
  </form>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
      const table = document.getElementById('div_id_myTableData');
      table.style.display = 'none';
  });
  document.addEventListener('DOMContentLoaded', function() {
        const select = document.getElementById('id_domain_options');
        const table = document.getElementById('div_id_myTableData');

        select.addEventListener('change', function() {
            if (this.value === '2') {
                table.style.display = 'block';
            } else {
                table.style.display = 'none';
            }
        });
    });
</script>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery.formset.js' %}"></script>
<script>
    $('.link-formset').formset({
        addText: "{% trans 'DomainAdd' %}",
        deleteText: "{% trans 'DomainDelete' %}",
    });
</script>
{% endblock %}