{% extends 'base_template.html' %}
{% load i18n %}
{% get_current_language as CURRENT_LANGUAGE %}

{% block support %}
        <p style="font-family: sans-serif; font-size: 16px; font-weight: bold; margin: 0; margin-bottom: 0px;">
            {% trans 'DearSupport' %},</p>
        <br>
        <p style="font-family: sans-serif; font-size: 16px;  margin: 0; margin-bottom: 15px;">
            {% blocktranslate %}um {{value}} hat ein Kunde eine Kündigung ausgesprochen, die folgende Informationen enthält{% endblocktranslate %}:</p>
        <br>
        {% include "common.html" %}
        <br>
        <p style="font-family: sans-serif; font-size: 16px;  margin: 0; margin-bottom: 15px;">
            {% trans 'TechnicalInformation' %}:</p>
        <ul>
            <li>
                <p
                    style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">
                    <strong>{% trans 'IP' %}:</strong>
                    {{user_ip}}
                </p>
            </li>
        </ul>
        <ul>
            <li>
                <p
                    style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">
                    <strong>{% trans 'Browser' %}:</strong>
                    {{user_browser}}
                </p>
            </li>
        </ul>
        <br>
        <p style="font-family: sans-serif; font-size: 16px;  margin: 0; margin-bottom: 15px;">
            {% trans 'supportVerify' %}</p>
{% endblock %}