// import variables here from main project


// colors
$background: #f9f9ff;

$blueAdit: #342df3;
$blueAditB: #1f237e;

$grey: #dadada;
$white: #ffffff;
$kind-of-black: #151515;

$faqGrey: #f1f1f6;
$darkGrey: #7e7f9d;

$hoverTable: #f2f3f4;
$greyFooter: #888ebf;
$blueFooterLast: #1d207a;


$headerHeightMobile: 14vw;
$headerHeightPortrait: 7vw;
$headerHeightDesktop: 4.5vw;
$headerHeightDesktopFull: 7.5vw;
