@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
* {
  box-sizing: border-box;
}

.input-field { display: none; }

body {
  background: #f3f6fa;
  font-family: sans-serif;
  font-family: "Roboto", sans-serif;
}

.icon {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  direction: ltr;
  display: inline-block;
  font-feature-settings: "liga";
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
  text-rendering: optimizeLegibility;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
}

header {
  color: #4f4e5f;
  font-family: "Roboto Condensed", sans-serif;
  height: 3rem;
  margin: 3rem auto;
  overflow: visible;
  position: relative;
  text-transform: uppercase;
  width: 75rem;
}
header .logo {
  float: left;
  font-size: 1.5rem;
  line-height: 3rem;
}
header .logo a {
  color: #4f4e5f;
  text-decoration: none;
}
header .logo span {
  color: #aab7c4;
}
header .feed {
  cursor: pointer;
  float: right;
  margin: 0 0 0 2rem;
  position: relative;
}
header .account {
  cursor: pointer;
  float: right;
  position: relative;
}

header .lang {
  float: right;
  margin-right: 2rem;
  position: relative;
}

header .icon.active {
  color: #9baaba;
}
header .overlay {
  background: #ffffff;
  box-shadow: 0 50px 100px rgba(50, 50, 93, 0.1), 0 15px 35px rgba(50, 50, 93, 0.15), 0 5px 15px rgba(0, 0, 0, 0.1);
  display: none;
  padding: 1rem;
  position: absolute;
  right: 0;
  top: 2.75rem;
  width: 15rem;
}
header .overlay p {
  text-transform: none;
}
header .overlay.visible {
  display: block;
}
header .overlay input {
  background: #e6eaee;
  border-radius: 2px;
  border: none;
  padding: 0.5rem;
  text-align: left;
  width: 100%;
}
header .overlay button {
  background: #9baaba;
  border-radius: 2px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 0.9rem;
  margin: 0.5rem auto 0 auto;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  width: 100%;
}
header .overlay button:hover {
  background: #7d91a5;
}
header .overlay .result {
  line-height: 1.3rem;
  padding: 1rem 0 0 0;
  text-transform: none;
}
header .overlay .result .success,
header .overlay .result .error {
  display: none;
}
header .overlay .result:empty {
  padding: 0;
}
header .feed label {
  color: #aab7c4;
  display: inline-block;
  font-size: 0.9rem;
  margin: 0 0 0.5rem 0;
  width: 45%;
}
header .feed span {
  width: 50%;
  display: inline-block;
  text-align: right;
  margin: 0 0 0.5rem 0;
  font-size: 0.9rem;
}
header .feed a {
  color: #4f4e5f;
  text-decoration: none;
  margin: 0 0.25rem;
}
header .feed .material-icons {
  font-size: 24px;
}
header .feed a:hover {
  color: black;
}

.globalstatus {
  margin: 3rem auto;
  width: 75rem;
  color: #ffffff;
  background: #aab7c4;
  padding: 1.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
}
.globalstatus.status-green {
  background: #00aa8f;
  color: #ffffff;
}
.globalstatus.status-yellow {
  background: #00bbee;
  color: #ffffff;
}
.globalstatus.status-red {
  background: #dc334c;
  color: #ffffff;
}
.globalstatus + .globalstatus {
  margin-top: -1.5rem;
}

.status {
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  margin: 3rem auto;
  width: 75rem;
}
.status .group,
.status .subgroup {
  background: #ffffff;
  color: #4f4e5f;
  font-weight: 600;
}
.status .group {
  margin: 0 0 2rem 0;
  cursor: pointer;
}
.status .group .collapsed {
  display: inline-block;
}
.status .group .expanded {
  display: none;
}
.status .group.active .collapsed {
  display: none;
}
.status .group.active .expanded {
  display: inline-block;
}
.status .group.active .components {
  display: block;
}
.status .components {
  display: none;
}
.status .components .component .name {
  padding: 1rem 1rem 1rem 3rem;
  min-height: 64px;
}
.status .groupheader {
  color: #aab7c4;
  font-size: 0.7rem;
  overflow: auto;
}
.status .groupheader .day {
  line-height: 1.25rem;
  border: none;
}
.status .component {
  overflow: auto;
  border-bottom: 1px solid #f5f7f8;
}
.status .component .name {
  padding: 1rem;
  font-weight: 400;
}
.status .name {
  float: left;
  padding: 1rem;
  width: 25%;
  overflow: auto;
}
.status .name.status-normal {
  border-left: 0.5rem solid #00aa8f;
}
.status .name.status-maintenance {
  border-left: 0.5rem solid #00bbee;
}
.status .name.status-incident {
  border-left: 0.5rem solid #dc334c;
}
.status .name span {
  float: left;
  line-height: 2rem;
}
.status .forecast {
  float: left;
  width: 70%;
  overflow: auto;
}
.status .unfinished {
  border-left: 2px solid #f5f7f8;
  color: #aab7c4;
  float: left;
  line-height: 2rem;
  min-height: 64px;
  padding: 0.75rem 0;
  text-align: center;
  width: 5%;
}
.status .unfinished .entry {
  color: #dc334c;
}
.status .unfinished .entry:hover .tooltip {
  display: block;
}
.status .unfinished .icon {
  line-height: 2rem;
}
.status .unfinished .tooltip {
  background: #ffffff;
  color: #aab7c4;
  box-shadow: 0 50px 100px rgba(50, 50, 93, 0.1), 0 15px 35px rgba(50, 50, 93, 0.15), 0 5px 15px rgba(0, 0, 0, 0.1);
  display: none;
  padding: 0.25rem 0.5rem;
  position: absolute;
}
.status .unfinished .tooltip .icon {
  float: right;
  margin: 0 0 0 1rem;
}
.status .day {
  border-left: 2px solid #f5f7f8;
  float: left;
  line-height: 2rem;
  padding: 0.75rem 0;
  text-align: center;
  width: 14.2857142857%;
  min-height: 64px;
}
.status .day.maintenance-below {
  color: #00bbee;
  padding: 0;
}
.status .day.maintenance-below span {
  line-height: 64px;
}
.status .day.incident-below {
  color: #dc334c;
  padding: 0;
}
.status .day.incident-below span {
  line-height: 64px;
}
.status .day.maintenance {
  background: #00bbee;
  color: #ffffff;
  cursor: help;
  font-size: 0.8rem;
  line-height: 1rem;
  font-weight: 400;
}
.status .day.incident {
  background: #dc334c;
  color: #ffffff;
  cursor: help;
  font-size: 0.8rem;
  line-height: 1rem;
  font-weight: 400;
}

.events {
  margin: 3rem auto;
  width: 75rem;
}
.events h1 {
  color: #4f4e5f;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
}
.events h2 {
  color: #4f4e5f;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 400;
}
.events h3 {
  color: #aab7c4;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 400;
}
.events .event {
  margin: 2rem 0;
  padding: 2rem;
  background: #ffffff;
  font-family: "Roboto", sans-serif;
  overflow: auto;
}
.events .date {
  color: #8d8ca1;
}
.events .history {
  margin: 5rem 0 0 0;
}
.events .history .entry {
  margin: 0 0 0 2.5rem;
  border-left: 1px solid #d2d2da;
  padding: 0 0 5rem 2.5rem;
  position: relative;
}
.events .history .entry:last-child {
  border: none;
}
.events .history .icon {
  background: #ffffff;
  color: #8d8ca1;
  font-size: 1.5rem;
  left: -0.75rem;
  position: absolute;
  top: 0rem;
}

.subscription {
  margin: 3rem auto;
  width: 75rem;
}
.subscription h1 {
  color: #4f4e5f;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
}
.subscription .message {
  background: #aab7c4;
  color: #ffffff;
  margin: 1rem -2rem -1rem -2rem;
  padding: 1rem 2rem;
}
.subscription .message.message-success {
  background: #00aa8f;
}
.subscription .message.message-error {
  background: #dc334c;
}
.subscription .errorlist {
  margin: 1rem 0 2rem 0;
  padding: 0;
  list-style: none;
  color: #dc334c;
}
.subscription form {
  background: #ffffff;
  color: #4f4e5f;
  font-weight: 400;
  padding: 1rem 2rem;
}
.subscription form .horizontal-group {
  overflow: hidden;
  margin: 1rem 0 0 0;
}
.subscription form .horizontal-group input,
.subscription form .horizontal-group input[type=email] {
  float: left;
  width: 50%;
  margin: 0;
  padding: 0.75rem;
}
.subscription form .horizontal-group button,
.subscription form .horizontal-group button[type=submit] {
  float: right;
  width: 40%;
  margin: 0;
  padding: 0.75rem;
}
.subscription form p {
  padding: 1rem 0;
  margin: 0;
  border-bottom: 2px solid #f5f7f8;
}
.subscription form label {
  display: inline-block;
  line-height: 2rem;
  width: 33%;
}
.subscription form input {
  background: #f5f7f8;
  border-radius: 2px;
  border: none;
  padding: 0.75rem;
  text-align: left;
}
.subscription form input[type=text], .subscription form input[type=email] {
  width: 33%;
}
.subscription form button[type=submit] {
  background: #9baaba;
  border-radius: 2px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 0.9rem;
  margin: 1rem 0 1rem 33%;
  padding: 0.75rem;
  text-transform: uppercase;
  width: 33%;
}
.subscription form button[type=submit]:hover {
  background: #7d91a5;
}


/*# sourceMappingURL=status.css.map */
