<!DOCTYPE html>
{% load static %}
{% load i18n %}
{% load compress %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>{% trans 'Homepage' %}</title>
    <meta name="robots" content="index,follow" />
    {% compress css %}
    <link type="text/x-scss" href="{% static 'css/app.scss' %}" rel="stylesheet" media="screen">
    {% endcompress %}
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

</head>

<body>

    <header>

        <div class="header">
            <nav class="header__container">
                <div class="header__logo"><a class="logo-link" href="{% url 'dashboard:main' %}"><img
                            alt="AD IT Systems" src="{% static 'images/logo-nav.9aa4c274.svg' %}"></a></div>
                <button class="hamburger hamburger--squeeze hidden-desktop" type="button">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
                <div class="header__list">
                    <ul style="display: flex; justify-content: right;">
                        {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'dashboard:all_invoices' %}" title="DevOps Service">{% trans 'AllInvoicesHeading' %}</a>
                        </li>
                        <li>
                            <a href="{% url 'dashboard:edit_personal_data' %}" title="Managed Hosting">{% trans 'edit_personal_data' %}</a>
                        </li>
                        <li>
                            <a href="{% url 'dashboard:change_password' %}" title="Company">{% trans 'ChangePassword' %}</a>
                        </li>
                        <li class="login-button"><a href="{% url 'dashboard:logout' %}" class="diff-link">{% trans 'Logout' %}</a></li>
                        {% else %}
                        <li class="login-button"><a href="{% url 'dashboard:main' %}" class="diff-link">{% trans 'Login' %}</a></li>
                        {% endif %}

                        <li class="language-switcher">
                            <ul class="language-switcher__desktop">
                                {% get_current_language as CURRENT_LANGUAGE %}
                                {% get_available_languages as AVAILABLE_LANGUAGES %}
                                {% get_language_info_list for AVAILABLE_LANGUAGES as languages %}
                                <div class="languages">
                                    <ul class="languages">
                                    {% for language in languages %}
                                        <li>
                                        <a href="/{{ language.code }}{{ request.get_full_path|slice:'3:' }}"
                                            {% if language.code == CURRENT_LANGUAGE %} class="current"{% endif %}>
                                            {{ language.code }}
                                        </a>
                                        </li>
                                    {% endfor %}
                                    </ul>
                                </div>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <main>
        {% if messages %}
            {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}" role="alert">
                        {{ message }}
                    </div>
            {% endfor %}
        {% endif %}

        {% block login %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% block payment %}
        {% endblock %}
    </main>

    <div class="footer" data-aos="fade">
        <div class="footer__container">
            <div class="footer__contacts">
                <div class="footer__contacts__logo">
                    <img src="{% static 'images/logo-nav.9aa4c274.svg' %}" alt="">

                </div>
                <div class="footer__contacts__spec">
                    <div class="footer__contacts__spec--title">{% trans 'Contact' %}</div>
                    <ul>
                        <li><a href="tel:+49-911-14885510">+49-911-14885510</li>
                        <li><a href="mailto:sales@aditsystems.de">sales@aditsystems.de</a></li>

                    </ul>
                    <div class="footer__contacts__spec--socials">
                        <a class="footer__contacts__spec--social"
                            href="https://www.linkedin.com/company/aditsystems/"><img
                                src="{% static 'images/linkedin.e7455165.svg' %}" alt=""></a>
                        <a class="footer__contacts__spec--social" href="https://twitter.com/aditsystems"><img
                                src="{% static 'images/twitter.16f1f846.svg' %}" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="footer__specifications">
                <div class="footer__items">
                    <div class="footer__list">{% trans 'Services' %}</div>
                    <div class="footer__item">
                        <ul>
                            <li><a href="">DevOps Service</a></li>
                            <li><a href="">Managed Hosting</a></li>
                            <li><a href="">LiveConfig</a></li>
                            <li><a href="">Webmail</a></li>
                            <li><a href="">PHPMyAdmin</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer__items">
                    <div class="footer__list">{% trans 'Compliance' %}</div>
                    <div class="footer__item">
                        <ul>
                            <li><a href="https://www.aditsystems.de/impressum.php">{% trans 'LegalNotice' %}</a></li>
                            <li><a href="https://www.aditsystems.de/datenschutz.php">{% trans 'Privacy' %}</a></li>
                            <li><a href="https://www.aditsystems.de/widerruf.php">{% trans 'Revocation' %}</a></li>
                            <li><a href="https://www.aditsystems.de/kundeninfos.php">{% trans 'CustomerInformation' %}</a></li>
                            <li><a href="https://www.aditsystems.de/agb.php">{% trans 'TermsofService' %}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer__items">
                    <div class="footer__list">{% trans 'InfoCenter' %}</div>
                    <div class="footer__item">
                        <ul>
                            <li><a href="https://blog.aditsystems.de/">{% trans 'Blog' %}</a></li>
                            <li><a href="">{% trans 'Support' %}</a></li>
                            <li><a href="">{% trans 'CustomerCenter' %}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer__items">
                    <div class="footer__list">{% trans 'Company' %}</div>
                    <div class="footer__item">
                        <ul>
                            <li><a href="https://www.aditsystems.de/kontakt.php">{% trans 'ContactDetails' %}</a></li>
                            <li><a href="https://www.aditsystems.de/jobs.php">{% trans 'Jobs' %}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__last-section">&copy; AD IT Systems GmbH 2022</div>
    </div>

    <script src="{% static 'js/runtime.725164cf.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/983.520aba70.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/app.e7ccb3be.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/form.js' %}" type="text/javascript"></script>
</body>

</html>
