{% extends 'base.html' %}
{% load i18n %}

{% block content %}
{% if user.is_authenticated %}\
<div class="hero-simple aos-init aos-animate" style="background-color: darkblue" data-aos="fade">
  <div class="hero-simple__container">
    <div class="hero-simple__mainContainer">
      <div class="hero-simple__text-container">
        <div class="hero-simple__title">Hi, {{personal.kunde_vorname}} {{personal.kunde_name}} </div>
        <div class="hero-simple__subtitle">
          <p>Here, you can handle all your data and bills</p>
        </div>
      </div>
      <div class="hero-simple__image">
        <img src="/media/1/download/1.1ecea6a0.svg?v=1" alt="">
      </div>
    </div>
  </div>
</div>

<div class="article-list aos-init aos-animate" data-aos="fade">
  <div class="article-preview__images swiper-slide">
    <div class="article-preview__text"> Invoices </div>
    <div class="article-preview__link-text">
      {% for x in values %}
      {% for y, z in x.items %}
      <tr>
        <td>{{y}}</td>
        <td>{{z}}</td>
      </tr>
      {% endfor %}
      {% endfor %}
    </div>
  </div>
  <div class="article-preview__images swiper-slide">
    <div class="article-preview__text"> Personal Data </div>
    <div class="article-preview__link-text">
      {% for x, y in personal.items %}
      <tr>
        <td>{{x}}</td>
        <td>{{y}}</td>
      </tr>
      {% endfor %}
    </div>
  </div>
</div>


<div data-aos="fade-up" class="products aos-init aos-animate">
  <div class="products__container">
    <div class="products__containerBoxes">

      <div class="products__box">
        <div class="products__background"> </div>
        <div class="products__texts">
          <div class="products__text"> Your Invoices </div>
          <div class="products__body">
            <table style="width:100%" aria-hidden="True">
              <tr>
                <th>{% trans 'r_id' %}</th>
                <th></th>
                <th>{% trans 'r_no' %}</th>
                <th></th>
                <th>{% trans 'r_date' %}</th>
                <th></th>
                <th>{% trans 'r_cost' %}</th>
              </tr>
              {% for x in values|slice:":5" %}
              <tr>
                <td>{{x.rechnung_id}}
                <td>
                <td>{{x.rechnung_rnr}}
                <td>
                <td>{{x.rechnung_datum}}
                <td>
                <td>{{x.rechnung_betrag}}
                <td>
              </tr>
              {% endfor %}
            </table>
          </div>
        </div>
        <div class="products__ctas">
          <div class="cta">
            <a class="cta-btn" href="">
              <span class="cta-btn-inner">
                {% trans 'view_invoices' %}
              </span>
            </a>
          </div>
        </div>
      </div>


      <div class="products__box">
        <div class="products__background"> </div>
        <div class="products__texts">
          <div class="products__text"> Your Data </div>
          <div class="products__body">
            <table style="width:100%" aria-hidden="True">
              <tr>
                <th scope="col">{% trans 'Company' %}</th>
                <td>{{personal.kunde_firma}}
                <td>
              </tr>
              <tr>
                <th scope="col">{% trans 'Name' %}</th>
                <td>{{personal.kunde_name}}, {{personal.kunde_vorname}}
                <td>
              </tr>
              <tr>
                <th scope="col">{% trans 'Address' %}</th>
                <td>{{personal.kunde_adresse}}
                <td>
              </tr>
              <tr>
                <th scope="col">{% trans 'Email' %}</th>
                <td>{{personal.kunde_email}}
                <td>
              </tr>
              <tr>
                <th scope="col">{% trans 'Phone' %}</th>
                <td>{{personal.kunde_telefon}}
                <td>
              </tr>
            </table>
          </div>
        </div>
        <div class="products__ctas">
          <div class="cta">
            <a class="cta-btn" href="">
              <span class="cta-btn-inner">
                {% trans 'edit_personal_data' %}
              </span>
            </a>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>

{% else %}


<p>You are not logged in</p>
<a href="{% url 'login' %}">Log In</a>
{% endif %}

{% endblock %}