{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}\
<div class="hero-simple aos-init aos-animate" style="background-color: darkblue" data-aos="fade">
  <div class="hero-simple__container">
    <div class="hero-simple__mainContainer">
      <div class="hero-simple__text-container">
        <div class="hero-simple__title">Hi, {{ user.username }}</div>
        <div class="hero-simple__subtitle">
          <p>Here, you can handle all your data and bills</p>
        </div>
      </div>
      <div class="hero-simple__image">
        <img src="/media/1/download/1.1ecea6a0.svg?v=1" alt="">
      </div>
    </div>
  </div>
</div>

<div class="article-list aos-init aos-animate" data-aos="fade">
  <div class="article-preview__images swiper-slide">
    <div class="article-preview__text"> Invoices </div>
    <div class="article-preview__link-text">
      {% for x in values %}
      {% for y, z in x.items %}
      <tr>
        <td>{{y}}</td>
        <td>{{z}}</td>
      </tr>
      {% endfor %}
      {% endfor %}
    </div>
  </div>
  <div class="article-preview__images swiper-slide">
    <div class="article-preview__text"> Personal Data </div>
    <div class="article-preview__link-text">
      {% for x, y in personal.items %}
      <tr>
        <td>{{x}}</td>
        <td>{{y}}</td>
      </tr>
      {% endfor %}
    </div>
  </div>
</div>


<div data-aos="fade-up" class="products aos-init aos-animate">
  <div class="products__container">
    <div class="products__containerBoxes">

      <div class="products__box">
        <div class="products__background"> </div>
        <div class="products__texts">
          <div class="products__first-section">
            <div class="products__text"> Your Invoices </div>
          </div>
          <div class="products__body">
            <table style="width:100%">
              <tr>
                <th>R.-Id.</th>
                <th>R.-Nr.</th>
                <th>R.-Datum</th>
                <th>Betrag</th>
              </tr>
              {% for x in values %}
              <tr>
                {% for y in x.items %}
                <td>{{y.1}}<td>
                {% endfor %}
              </tr>
              {% endfor %}
            </table>
          </div>
        </div>
        <div class="products__ctas">
          <div class="cta">
            <a class="cta-btn" href="http://www.google.it">
              <span class="cta-btn-inner">
                Select Plan
              </span>
            </a>
          </div>
        </div>
      </div>


      <div class="products__box">
        <div class="products__background"> </div>
        <div class="products__texts">
          <div class="products__first-section">
            <div class="products__text"> Your Data </div>
            <div class="products__price"> {{personal.kunde_name}}, {{personal.kunde_vorname}} </div>
          </div>
          <div class="products__body">
            <table style="width:100%">
              <tr>
                <td>Address</td>
                <td>{{personal.kunde_adresse}}<td>
              </tr>
            </table>
          </div>
        </div>
        <div class="products__ctas">
          <div class="cta">
            <a class="cta-btn" href="http://www.google.it">
              <span class="cta-btn-inner">
                Select Plan
              </span>
            </a>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>

{% else %}


<p>You are not logged in</p>
<a href="{% url 'login' %}">Log In</a>
{% endif %}

{% endblock %}