{% extends 'base.html' %}
{% load i18n %}
{% block content %}

<div data-aos="fade" class="title-text title-text__text-center aos-init aos-animate">
    <div class="title-text__container">
        <div class="title-text__contacts">
            <div class="title-text__text">
                <span style="float:left;">
                    {% trans 'r_no' %} {{values.rechnung_rnr}}
                </span>
                <span style="float:right;">
                            <div class="cta">
                            <a class="cta-btn" href="{% url 'dashboard:download_pdf' values.rechnung_rnr values.rechnung_id %}" download>
                                <span class="cta-btn-inner">
                                {% trans 'DownloadPDF' %}
                                </span>
                            </a>
                            </div>
                </span>
            </div>
            <hr>
            <div class="title-text__body_text">
                <span style="float:left;">
                    {{values.rechnung_vorname}} {{values.rechnung_name}}<br>
                    {{values.rechnung_adresse}}<br>
                </span>
                <span style="float:right;">
                    <table aria-describedby="bank_details" id="table_bank">
                        <tbody style="text-align: start;">
                            <th colspan="2"></th>
                            <tr>
                                <td><strong>{% trans 'knr'%}</strong></td>
                                <td style="text-align: right;">{{values.rechnung_knr}}</td>
                            </tr>
                            <tr>
                                <td><strong>{% trans 'r_no'%}</strong></td>
                                <td style="text-align: right;">{{values.rechnung_rnr}}</td>
                            </tr>
                            <tr>
                                <td><strong>{% trans 'r_date'%}</strong></td>
                                <td style="text-align: right;">{{values.rechnung_datum}}</td>
                            </tr>
                        </tbody>
                    </table>
                </span>
            </div>
            <br><br>
            <div class="title-text__body">
                <figure class="table">
                    <table aria-describedby="invoice_details">
                        <tbody>
                            <tr>
                                <th>{% trans 'amount' %}</th>
                                <th>{% trans 'designation' %}</th>
                                <th>&nbsp;</th>
                                <th>{% trans 'vat' %}</th>
                                <th>{% trans 'unit_price' %}</th>
                                <th>{% trans 'total_price' %}</th>
                            </tr>
                            {% for x in list_items %}
                            <tr>
                                <td>{{x.rposition_anzahl}}</td>
                                <td>{{x.rposition_text}}</td>
                                <td></td>
                                <td>{{x.mwst_wert}}%</td>
                                <td>{{x.rposition_preis}}&nbsp;€</td>
                                <td>{{values.rechnung_betrag}}&nbsp;€</td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td></td>
                                <td><strong></strong></td>
                                <td></td>
                                <td><strong></strong></td>
                                <td><strong>Zwischensumme:</strong></td>
                                {% for y in values.mwst %}
                                <td><strong>{{y.netto}}&nbsp;€</strong></td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td></td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                {% for y in values.mwst %}
                                <td>zzgl. {{y.mwst_wert}}% MwSt. auf {{y.netto}}&nbsp;€:</td>
                                <td>{{y.betrag}},00&nbsp;€</td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>&nbsp;</td>
                                <td>Rechnungsbetrag:</td>
                                <td>{{values.rechnung_brutto}},00&nbsp;€</td>
                            </tr>
                        </tbody>
                    </table>
                </figure>
                <br>
                <span style="text-align: left;">{{values.rechnung_text|linebreaks}}</span>
                <br>
                <hr>
                <table aria-describedby="bank_details" id="table_bank">
                    <tbody style="text-align: start;">
                        <th colspan="2">{% trans 'OurBankDetails' %}&nbsp;:</th>
                        <tr>
                            <td colspan="2">ADITSYSTEMS, Inh. Anton Dollmaier</td>
                        </tr>
                        <tr>
                            <td><strong>{% trans 'iban' %}:</strong></td>
                            <td>DE50 7406 1813 0000 6350 57</td>
                        </tr>
                        <tr>
                            <td><strong>{% trans 'bic' %}:</strong></td>
                            <td>GENODEF1PFK</td>
                        </tr>
                        <tr>
                            <td><strong>{% trans 'Bank' %}:</strong></td>
                            <td>VR-Bank Rottal-Inn eG</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>




{% endblock %}